# Environment variables
.env
.env.local

# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/

# Logs
*.log
server.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
/src/generated/prisma

# Local development (mantener docker para local)
/mongo
/postgres